<mat-list>
  <mat-list-item>
    Home
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/orders">Orders</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/clients">Clients</a>
  </mat-list-item>
</mat-list>
