<mat-toolbar>
  <button mat-stroked-button color="primary" (click)="openDialog()">Add</button>
</mat-toolbar>
<div class="client-layout">
  <app-client-list></app-client-list>
  <app-client-table></app-client-table>
</div>
