<mat-card>
  <form action="">
    <mat-form-field>
      <input type="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password">
    </mat-form-field>
    <button mat-stroked-button color="primary">Register</button>
  </form>
  Have an account?<a routerLink="/login">Sign In</a>
</mat-card>
