<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <header>
        <app-header (toggle)="sidenav.toggle()"></app-header>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</mat-sidenav-container>
