<h1 mat-dialog-title> Add new Client</h1>
<div mat-dialog-content>
  <form action="">
    <input type="text" placeholder="Client Name">
    <input type="text" placeholder="Address">
    <input type="text" placeholder="nation">
    <input type="text" placeholder="client number">
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button>Cancle</button>
  <button mat-button>Submit</button>
</div>
