<mat-card>
  <form action="">
    <mat-form-field>
      <input type="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="password">
    </mat-form-field>
    <button mat-stroked-button color="primary">Log In</button>
  </form>
  <a routerLink="/register">Register</a>
</mat-card>
